{% extends "base.html" %}

{% block content %}
<h4>Intermediate Certificates</h4>
<a href="{{ url_for('main.intermediate_new') }}">Create new Intermediate</a>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th style="width:11%">ID</th>
            <th>Name</th>
            <th>buttons</th>
        </tr>
    </thead>
    <tbody>
        {% for cert in certs %}
        <tr>
            <td>{{ cert.id }}</td>
            <td><a href="{{ url_for('main.intermediate_view', cert_id=cert.id) }}">{{ cert.name }}</a></td>
            <td>links</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}